<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2 mb-3">
    <app-menu-store></app-menu-store>
  </div>
  <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9 col-xxl-10 mb-3">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-primary mb-4" role="alert">
          <h4>List products</h4>
          <p>Full list of all products in DB</p>
          <ul class="list-unstyled">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <li>Create product</li>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <li>See detail</li>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <li>Edit producto</li>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <li>Remove product</li>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <li>Search for the name</li>
              </div>
            </div>
          </ul>
        </div>
      </div>


      <div class="col-sm-12 mb-4">
      
        <ul class="nav nav-pills">
            <li class="nav-item">                
              <a pButton data-bs-target="#modalNewProduct"  data-bs-toggle="modal" label="New" class="nav-link mx-2  p-button-secondary lp p-button-rounded p-button-raised"  (click)="showDialog()" >
                <i class="pi pi-book mx-2"></i>
              </a>
            </li>
            <li class="nav-item">
                <a pButton data-bs-target="#modalNewProduct" label="Grid"  
                    class="nav-link mx-2 p-button-secondary p-button-rounded p-button-raise p-button-warning" (click)="changeView(isList)"
                [hidden]="!isList">
                <i class="pi pi-book mx-2"></i>
                </a>            
            </li>
            <li class="nav-item">
                <a pButton data-bs-target="#modalNewProduct" label="List"  
                   class="nav-link mx-2 p-button-secondary p-button-rounded p-button-raise p-button-warning" (click)="changeView(isList)"
                  [hidden]="isList">
                <i class="pi pi-book mx-2"></i>
                </a>  
            </li>
           
          </ul>


        
      </div>

      <div class="col-sm-12" *ngIf="isList; else tableView">
        <app-list-products
            (productCheckedSend)="showProduct($event)"
          [listProduct]="mostSelledProducts"
        ></app-list-products>
      </div>

      <ng-template #tableView class="col-sm-12">

        <div class="row row-cols-1 row-cols-3 g4">
            <div *ngFor="let product of mostSelledProducts" class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <app-card-product
                    [nameProduct]="product.name"
                    [descriptionProduct]="product.description"
                    [priceProduct]="product.price"
                    [stockProduct]="product.stock"
                    [categoryProduct]="product.category"
                    (click)='selectProductCard(product)'>                    
                </app-card-product>
            </div>
        </div>    
    </ng-template>

      <div class="col-sm-12">        
        <app-modal-add-product
        ></app-modal-add-product>
      </div>
      <div class="col-sm-12">        
        <app-modal-edit-product
        [productSelected]="productSelected"
        ></app-modal-edit-product>
      </div>
      <div class="col-sm-12">        
        <app-modal-delete-product [productDelete]="productSelected"></app-modal-delete-product>
      </div>
    </div>
  </div>
</div>


