<div class="row justify-content-lg-center">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">

		
		<p-card header="List Products" subheader="Full list of all products in DB" styleClass="p-card-shadow text-lg-start text-sm-center">
			<p>
				Create product, See detail, Edit product, Remove product, Search for the name
			</p>
</p-card>
	</div>

	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<app-list-products [searchCategory]="searchCategory">
		</app-list-products>
	</div>
</div>

