<p-orderList [value]="listCategories" [listStyle]="{'height':'auto'}" header="List of Products" filterBy="nameCategory" filterPlaceholder="Filter by name" [dragdrop]="true">
    <ng-template let-categories pTemplate="item">
        <div class="product-item">    
            <div class="product-list-detail">
                <i class="pi pi-tag product-category-icon me-2"></i>
                <span class="product-category">{{categories.nameCategory}}</span>
                <button icon="pi pi-trash"  iconPos="left" pButton class="p-button-danger float-end mx-1 p-button-raised p-button-rounded"  label="Delete"></button>
                <button icon="pi pi-pencil" iconPos="left" pButton class="p-button-warning float-end mx-1 p-button-raised p-button-rounded" label="Edit"></button>
            </div>
        </div>
    </ng-template>
</p-orderList>