<p-orderList [value]="listCategories" [listStyle]="{'height':'auto'}" header="List of Products" filterBy="nameCategory" filterPlaceholder="Filter by name" [dragdrop]="true">
    <ng-template let-categories pTemplate="item">
        <div class="product-item">    
            <div class="product-list-detail">
                <i class="pi pi-tag product-category-icon me-2"></i>
                <span class="product-category">{{categories.nameCategory}}</span>
                <div class="row justify-content-md-end">
                   
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-1 mb-3">
                        <button pButton type="button" icon="pi pi-pencil" iconPos="left" label="Update" class="p-button-warning mx-2 float-end  p-button-raised p-button-rounded" data-bs-toggle="modal" data-bs-target="#modalEditProduct" ></button>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-1  mb-3">
                        <button pButton type="button" icon="pi pi-trash" iconPos="left" label="Delete" class="p-button-danger mx-2 float-end  p-button-raised p-button-rounded" data-bs-toggle="modal" data-bs-target="#modalDeleteProduct" ></button>
                    </div>
                </div>
      </div>
        </div>
    </ng-template>
</p-orderList>