<div class="mt-2">
	<form [formGroup]="searchForm" class="mb-5" (ngSubmit)="searchProduct()">
		<div class="input-group">
			<input
				type="search"
				class="form-control rounded"
				placeholder="Search product name"
				aria-label="Search"
				aria-describedby="search-addon"
                formControlName="product"
			/>
			<button [disabled]="searchForm.invalid" type="submit" class="btn btn-outline-primary">
				Search
			</button>
			<button  type="button" class="btn btn-outline-secondary" (click)="getAllProducts()">
				Clear
			</button>
		</div>
	</form>
</div>
