.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #ffc008;
    border: #ffc008;
    color: #212529;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

a{
    text-decoration:none;
}



@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 