<div class="d-flex align-items-center p-3" *ngIf="showLoading">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto text-warning" role="status" aria-hidden="true"></div>
</div>



<div
	*ngIf="listCategories.length !== 0; else messageThereAreNoCategories"
	class="table-responsive"
>
<button
	class="mb-4 btn btn-dark"
	(click)="selectCategory(true)"
	label="New category"
	data-bs-target="#modalCategory"
	data-bs-toggle="modal"
>New category</button>
	<table class="table table-sm">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let category of listCategories; let index = index">
				<th scope="row">{{ index + 1 }}</th>
				<td>{{ category.name }}</td>
				<td>
                    <div class="d-grid gap-3 d-md-block">
                        <button
						class="btn btn-dark mx-md-1 mb-2 mb-sm-2 mx-sm-2 mx-2 me-sm-4"
                        (click)="goToProductByCategory(category)"
					>
						View products
					</button>
                        <button
						class="btn btn-warning mx-md-1 mb-2 mb-sm-2 mx-sm-2 mx-2 me-sm-4"
                        (click)="selectCategory(false,category)"
                        data-bs-target="#modalCategory"
                        data-bs-toggle="modal"
					>
						Edit
					</button>
					<button
						class="btn btn-danger mx-md-1 mb-2 mb-sm-2 mx-sm-2 mx-2 me-sm-4"
						data-bs-target="#modalDeteteCategory"
						data-bs-toggle="modal"
						(click)="selectCategory(false,category)"
					>
						Delete
					</button>
                    </div>


				</td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #messageThereAreNoCategories>
	<div  *ngIf="showLoading == false" class="alert alert-danger" role="alert">
		No categories were found!
	</div>
</ng-template>

<app-category-features
	(categoryNew)="addToTheList($event)"
	(categoryUpdate)="updateToTheList($event)"
	[categoryInput]="categorySelected"
	[isNewCategory]="isNewCategory"
>
</app-category-features>

<app-modal-delete-category
	[categorySelected]="categorySelected"
	(categoryDelete)="deleteToTheList($event)"
>
</app-modal-delete-category>
