<div
	class="modal fade"
	id="modalProduct"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header mb-3">
				<h5 class="modal-title" id="staticBackdropLabel">
					{{isNewProduct == true ?' New product': 'Update product'}}
				</h5>


			</div>

			<form
				[formGroup]="myFormProduct"
				(ngSubmit)="isNewProduct == true ? saveProduct() :updateProduct()"
			>
				<div class="modal-body">
					<div class="input-group mb-3">
						<span class="input-group-text">* Name</span>
						<input
							type="text"
							class="form-control"
							placeholder="Name"
							aria-label="name"
							formControlName="name"
							aria-describedby="basic-addon1"
							required
						/>
					</div>
					<span
						*ngIf="fieldIsValid('name')"
						class="input-group alert alert-danger mb-3"
					>
						The name must be required
					</span>

					<div class="input-group mb-3">
						<span class="input-group-text">* Description</span>
						<textarea
							class="form-control"
							aria-label="description"
							formControlName="description"
							required
						></textarea>
					</div>
					<span
						*ngIf="fieldIsValid('description')"
						class="input-group alert alert-danger mb-3"
					>
						The description must be required
					</span>

					<div class="input-group mb-3">
						<span class="input-group-text">* Img</span>
						<input
							type="url"
							class="form-control"
							aria-label="imgProduct"
							formControlName="img"
							aria-describedby="basic-addon1"
							required
						/>
					</div>
				
					<span
						*ngIf="fieldIsValid('img')"
						class="input-group alert alert-danger mb-3"
					>
						The img must be required
					</span>

					<div class="input-group mb-3">
						<span class="input-group-text">* Price $</span>
						<input
							type="number"
							class="form-control"
							formControlName="price"
							aria-label="price"
							required
						/>
					</div>
					<span
						*ngIf="fieldIsValid('price')"
						class="input-group alert alert-danger mb-3"
					>
						The Price must be required
					</span>

					<div class="input-group mb-3">
						<span class="input-group-text">* Stock</span>
						<input
							type="number"
							class="form-control"
							formControlName="stock"
							required
						/>
					</div>
					<span
						*ngIf="fieldIsValid('stock')"
						class="input-group alert alert-danger mb-3"
					>
						The stock must be required
					</span>

					<div class="input-group mb-3">
						<span class="input-group-text">* Category</span>
						<select
							formControlName="category"
							class="form-select"
							aria-label="Default select example"
							required
						>
							<option
								*ngFor="let category of listCategories"
								[value]="category.uid"
								[selected]="category.uid"
								>{{ category.name }}</option
							>
						</select>
					</div>
					<span
						*ngIf="fieldIsValid('category')"
						class="input-group alert alert-danger mb-3"
					>
						The category must be required
					</span>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-danger"
						data-bs-dismiss="modal"
						(click)="Restoreform()"
					>
                    <i class="pi me-2 pi-times"></i>

						Close
					</button>
					<button
						[disabled]="myFormProduct.invalid || showLoading"
						[hidden]="productWasSaved"
						type="submit"
                        data-bs-dismiss="modal"
						class="btn btn-primary float-end"
					>
                    <i class="pi me-2 pi-save"></i>

						Save product
					</button>
				</div>

				<div class="text-center mt-5 mb-5" [hidden]="!showLoading">
                    <h3 class="mb-3">Loading...</h3>
					<div class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>

				</div>
			</form>
		</div>
	</div>
</div>

<p-toast></p-toast>
