
    <div class="d-none d-xl-block">
        <h4>Status</h4>
        <span class="badge bg-dark">Available: +4 Product</span>
        <span class="badge bg-warning">Short supply: -4 Product</span>
        <span class="badge bg-danger">Out of stock: 0 Product</span>
      
      
    </div>
    <div class="d-block d-xl-none">
        <h4>Status</h4>
        <span class="badge bg-dark  mx-2 mb-md-1 mx-lg-0">+4 Product</span>
        <span class="badge bg-warning  mx-2 mb-md-1 mx-lg-0">-4 Product</span>
        <span class="badge bg-danger  mx-2 mb-md-1 mx-lg-0">0 Product</span>
          
    </div>
