



<h4>Status</h4>
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Available</h5>
      <p class="card-text">When the product number more than 4</p>
    </div>
  </div>
  <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Short supply</h5>
      <p class="card-text">When the product number is between 1 and 4</p>
    </div>
  </div>


  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Out of stock</h5>
      <p class="card-text">When the product number is 0</p>
    </div>
  </div>

