<p-orderList [value]="mostSelledProducts" [listStyle]="{'height':'auto'}" header="List of Products" filterBy="nameProduct" filterPlaceholder="Filter by name" [dragdrop]="true">
    <ng-template let-product pTemplate="item">
        <div class="product-item">
          
            
            <div class="product-list-detail">
                <h5 class="p-mb-2">{{product.nameProduct}}</h5>
                <i class="pi pi-tag product-category-icon me-2"></i>
                <span class="product-category">{{product.category}}</span>
            </div>
            <div class="product-list-action mt-2">
                <h6 class="p-mb-2"><strong>Price:</strong> ${{product.priceProduct}}</h6>
                <button pButton type="button" icon="pi pi-info" iconPos="left" label="Detail" class="p-button-primary mx-2 float-end  p-button-raised p-button-rounded"></button>
                <button pButton type="button" icon="pi pi-pencil" iconPos="left" label="Update" class="p-button-warning mx-2 float-end  p-button-raised p-button-rounded" data-bs-toggle="modal" data-bs-target="#modalEditProduct" (click)='selectProduct(product)'></button>
                <button pButton type="button" icon="pi pi-trash" iconPos="left" label="Delete" class="p-button-danger mx-2 float-end  p-button-raised p-button-rounded" data-bs-toggle="modal" data-bs-target="#modalDeleteProduct" (click)='selectProduct(product)'></button>
   
            </div>
            <div class="product-list-action">
                <h6 class="p-mb-2"><strong>Stock:</strong> {{product.stockProduct}}</h6>
            </div>
         
        </div>
    </ng-template>
</p-orderList>