    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline mt-2">MySTORE<small class="ms-2 text-secondary">1.0</small></span>
        </a>
            
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li *ngFor="let item of items" class="nav-item ">
                    <a [routerLink]="item.routerLink" routerLinkActive="bg-warning px-4" class="nav-link align-middle px-0 text-white ">
                        <i [class]="item.icon" ></i> <span class="ms-1 d-none d-sm-inline">{{item.label}}</span>
                    </a>
                </li>                
            </ul>
        <hr>
        
    </div>

