<!-- Modal -->
<div
	class="modal fade"
	id="modalDeleteUser"
	tabindex="-1"
	aria-labelledby="modalDeleteProduct"
	aria-hidden="true"
	data-bs-backdrop="static"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					Delete User
				</h5>
				
			</div>
			<div class="modal-body">
				<dl class="row">
					<dt class="col-sm-3">Name:</dt>
					<dd class="col-sm-9"> {{userDeleted.name}}</dd>

					<dt class="col-sm-3">Email:</dt>
					<dd class="col-sm-9">
						<p>{{ userDeleted.email}} </p>
					</dd>

					<div class="col-sm-12 mt-3">
						<button
							type="button"
							class="btn btn-danger"
							data-bs-dismiss="modal"
							
						>
                        <i class="pi me-2 pi-times"></i>
							Back
						</button>
						<button
							type="button"
							class="btn btn-primary  float-end"
							(click)="deleteUser()"
                            data-bs-dismiss="modal"
						>
                        <i class="pi me-2 pi-trash"></i>

							Delete user
						</button>
					</div>
				</dl>
				<div class="text-center mt-5 mb-5" hidden="showLoading">
					<h3 class="mb-3">Loading...</h3>
					<div class="spinner-border text-secondary" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
