<div class="mt-2">
	<form [formGroup]="searchForm" class="mb-5" (ngSubmit)="getSales()">
        <div class="row g-4">
            <div class="col-sm-12">
                <h5>Sales filter</h5>   
             </div>
            <div class="col">
                <select class="form-select" aria-label="Default select example" formControlName="month">
                    <option 
                        *ngFor="let month of listMonth" 
                        [value]="month.number" 
                        [disabled]="month.number>monthNow" 
                        [selected]="month.number === monthNow">
                        
                        {{month.name}} 
                    </option>
                </select>            
                <small class="text-secondary">Month</small>
             </div>
            <div class="col">
                <select class="form-select" aria-label="Default select example" formControlName="year">
                    <option  
                        *ngFor="let year of listYear" 
                        [value]="year" 
                        [selected]="year === yearNow">
                        {{year}}
                    </option>
                  </select>   
                  <small class="text-secondary">It shows only the last 5 years</small>
            </div>
            <div class="col">
                <div class="d-grid gap-2 d-md-block">
                    <button [disabled]="searchForm.controls['month'].invalid && searchForm.controls['year'].invalid " type="submit" class="btn btn-outline-dark mx-2 mb-sm-2">
                        <i class="pi me-1 pi-search"></i>
                        Search
                    </button>
                    <button  type="button" class="btn btn-outline-danger mx-2 mb-sm-2" >
                        <i class="pi me-1 pi-trash"></i>
                        Clear
                    </button>
                </div>

            </div>
          </div>
       
		
		
	</form>
</div>
<p-toast></p-toast>
