
  
  <!-- Modal -->
  <div class="modal fade" id="modalDetailProducts" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDetailProductsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetailProductsLabel">List products</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">

                <table class="table table-hover table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of products">
                        <th scope="row">{{product.amount}}</th>
                        <td>{{product.productDB.name}}</td>
                        <td>{{product.productDB.description}}</td>
                        <td>{{product.productDB.price |  currency: '$':'symbol':'1.0-0'}}</td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            <i class="pi pi-times "></i>
                Close
            </button>
        </div>
      </div>
    </div>
  </div>