<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-9 col-xl-8">
        <table class="table caption-top">
            <caption><strong>Total: </strong> $3.000</caption>
            <caption><strong>Iva: </strong> $570</caption>

            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Arroz</td>
                <td>1.000</td>
                <td>3</td>
                <td>3.000</td>
              </tr>
              
              
            </tbody>
          </table>


        <div class="mb-3">
            <button class="btn btn-secondary mx-1 mb-1">Cancel</button>
            <button class="btn btn-danger mx-1 mb-1">Finish purchase</button>
        </div>

          <form>

            
          </form>
    </div>
</div>