  <!-- Modal -->
  <div class="modal fade" id="modalDeteteCategory" tabindex="-1" aria-labelledby="modalDeleteProduct" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalNewProduct">Delete category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <h3  class="mb-3">{{categorySelected.name}}</h3>
            
            
            
            <div class="col-sm-12 mt-3">
                <button 
                type="button" 
                class="btn btn-danger" 
                label="Back" 
                data-bs-dismiss="modal"
                (click)="activateButtonAgain()">
                <i class="pi me-2 pi-times"></i>
                Back
                
            </button>
            <button 
                type="button" 
                class="btn btn-primary float-end" 
                [disabled]="eliminatedCategory"
                [hidden]="eliminatedCategory"
                data-bs-dismiss="modal"
                (click)="deleteCategory(categorySelected)">
                <i class="pi me-2 pi-trash"></i>

                Delete category
            </button>

            </div>
      </div>
    </div>
  </div>

