<div *ngIf="listSales.length !== 0;else messageThereAreNoSales " >

    <table  class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Total</th>
            <th scope="col">Date</th>
            <th scope="col">Products</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of listSales;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{sale.total |  currency: '$':'symbol':'1.0-0' }}</td>
            <td>{{sale.date | date : 'dd-MM-yyyy'}}</td>
            <td><button type="button" class="btn btn-warning">Detail</button>
            </td>
          </tr>
          
          
        </tbody>
      </table>
</div>


<ng-template #messageThereAreNoSales>
	<div class="alert alert-danger" role="alert">
		No sales were found!
	</div>
</ng-template>

