<div class="text-center mt-5 mb-5" [hidden]="!showLoading">
    <h3 class="mb-3">Loading...</h3>
    <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>

</div>

<div *ngIf="listSales.length > 0 ; else messageThereAreNoSales">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Total</th>
				<th scope="col">Date</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let sale of listSales; let i = index">
				<th scope="row">{{ i + 1 }}</th>
				<td>
					{{ sale.total | currency: '$':'symbol':'1.0-0' }}
					<span
						[class]="
							sale.total <= 3000
								? 'badge bg-secondary mx-2'
								: 'badge bg-primary mx-2'
						"
						>{{ sale.total <= 3000 ? 'Low' : 'High' }}</span
					>
				</td>

				<td>
					<i class="pi pi-calendar"></i>
					{{ sale.date | date: 'dd-MM-yyyy' }}
				</td>
				<td>
					<button
						data-bs-toggle="modal"
						data-bs-target="#modalDetailProducts"
						type="button"
						class="btn btn-secondary"
						(click)="selectedProducts(sale)"
					>
						<i class="pi pi-eye me-2"></i>
						Detail
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<ng-template #messageThereAreNoSales>
    <div class="alert alert-danger" role="alert">
        No sales were found!
	</div>
</ng-template>



<app-modalProductsSale [products]="productSelected"></app-modalProductsSale>

