

<p-card [header]="nameProduct" [subheader]="'Stock: '+stockProduct" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://lh3.googleusercontent.com/uBmaIq9zP2Ge4sp-LU61lC9-alomAY-Irn6pfW_5IAAOpQNZQyksjkRlspovEzQrh49PAtYN8yzRuXoP=w1080-h608-p-no-v0">
    </ng-template>

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Description: </strong>{{descriptionProduct}}</li>
            <li class="list-group-item"><strong>Price: </strong>{{priceProduct}}</li>
          </ul>

    <ng-template pTemplate="footer">
        <div class="d-grid gap-3">
            <button pButton type="button" icon="pi pi-info" iconPos="left" label="Detail" class="p-button-primary p-button-raised p-button-rounded"></button>
            <button pButton type="button" icon="pi pi-pencil" iconPos="left" label="Update" class="p-button-warning p-button-raised p-button-rounded"data-bs-toggle="modal" data-bs-target="#modalEditProduct"></button>
            <button pButton type="button" icon="pi pi-trash" iconPos="left" label="Delete" class="p-button-danger p-button-raised p-button-rounded" data-bs-toggle="modal" data-bs-target="#modalDeleteProduct"></button>
        </div>
   </ng-template>
</p-card>

