<div class="row">
  <div class="col-sm-12">
      <h3 class="mt-3">Resumen</h3>
      <ul class="mt-2 list-unstyled">

          <li class="d-inline-block text-truncate" style="max-width: 300px;"><a class="btn btn-sm btn-danger text-truch me-2">X</a> 3 Harina Monten Blanco 1Kg.</li>
          <li class="d-inline-block text-truncate" style="max-width: 300px;"><a class="btn btn-sm btn-danger text-truch me-2">X</a> 2 Papas Artesanas.</li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <h3 class="mt-3">Total</h3>
      <h5 class="mb-4">$ 4.500</h5>
      <h5>Pay with</h5>
      <input class="form-control mb-4" type="number" (keyup)="onKey($event)" id="change">
      <h5 class="mb-3">Change: {{change-0 | currency: 'USD':'symbol':'1.0-0'}}</h5>
      <button class="btn btn-dark mt-2 mx-2">Finish purchase</button>
      <button class="btn btn-danger mt-2 mx-2">Close</button>
  </div>
</div>
