<form [formGroup]="myFormProduct" (ngSubmit)="saveProduct()">
  <div class="input-group mb-3">
    <span class="input-group-text">Name</span>
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      aria-label="Name"
      formControlName="name"
      aria-describedby="basic-addon1"
    />
  </div>
  <span *ngIf="fieldIsValid('name')" class="input-group alert alert-danger mb-3">
    The name must be required
  </span>

  <div class="input-group mb-3">
    <span class="input-group-text">Description</span>
    <textarea
      class="form-control"
      aria-label="With textarea"
      formControlName="description"
    ></textarea>
  </div>
  <span *ngIf="fieldIsValid('description')" class="input-group alert alert-danger mb-3">
    The description must be required
  </span>

  <div class="input-group mb-3">
    <span class="input-group-text">Img</span>
    <input
      type="text"
      class="form-control"
      aria-label="imgUrl"
      formControlName="img"
      aria-describedby="basic-addon1"
    />
  </div>
  <span *ngIf="fieldIsValid('img')" class="input-group alert alert-danger mb-3">
    The img must be required
  </span>


  <div class="input-group mb-3">
    <span class="input-group-text">Price $</span>
    <input
      type="number"
      class="form-control"
      formControlName="price"
      aria-label="Amount (to the nearest dollar)"
    />
  </div>
  <span *ngIf="fieldIsValid('price')" class="input-group alert alert-danger mb-3">
The Price must be required  </span>

  <div class="input-group mb-3">
    <span class="input-group-text">Stock</span>
    <input type="number" class="form-control" formControlName="stock" />
  </div>
  <span *ngIf="fieldIsValid('stock')" class="input-group alert alert-danger mb-3">
The stock must be required  </span>

  <div class="input-group mb-3">
    <span class="input-group-text">Category</span>
    <input type="text" class="form-control" formControlName="category" />
  </div>
  <span *ngIf="fieldIsValid('category')" class="input-group alert alert-danger mb-3">
The category must be required  </span>

  <button
    [disabled]="myFormProduct.invalid"
    type="submit"
    class="btn btn-primary float-end"
  >
    Save product
  </button>
</form>
