<form [formGroup]="myFormProduct" (ngSubmit)="saveProduct()">
  <div class="input-group mb-3">
    <span class="input-group-text">Name</span>
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      aria-label="nameProduct"
      formControlName="nameProduct"
      aria-describedby="basic-addon1"
    />
  </div>
  <span *ngIf="fieldIsValid('nameProduct')" class="input-group alert alert-danger mb-3">
    The name must be required
  </span>



  <div class="input-group mb-3">
    <span class="input-group-text">Description</span>
    <textarea
      class="form-control"
      aria-label="descriptionProduct"
      formControlName="descriptionProduct"
    ></textarea>
  </div>
  <span *ngIf="fieldIsValid('descriptionProduct')" class="input-group alert alert-danger mb-3">
    The description must be required
  </span>

  <div class="input-group mb-3">
    <span class="input-group-text">Img</span>
    <input
      type="text"
      class="form-control"
      aria-label="imgProduct"
      formControlName="imgProduct"
      aria-describedby="basic-addon1"
    />
  </div>
  <span *ngIf="fieldIsValid('imgProduct')" class="input-group alert alert-danger mb-3">
    The img must be required
  </span>


  <div class="input-group mb-3">
    <span class="input-group-text">Price $</span>
    <input
      type="number"
      class="form-control"
      formControlName="priceProduct"
      aria-label="priceProduct"
    />
  </div>
  <span *ngIf="fieldIsValid('priceProduct')" class="input-group alert alert-danger mb-3">
The Price must be required  </span>

  <div class="input-group mb-3">
    <span class="input-group-text">Stock</span>
    <input type="number" class="form-control" formControlName="stockProduct" />
  </div>
  <span *ngIf="fieldIsValid('stockProduct')" class="input-group alert alert-danger mb-3">
The stock must be required  </span>

  <div class="input-group mb-3">
    <span class="input-group-text">Category</span>
    <input type="text" class="form-control" formControlName="categoryProduct" />
  </div>
  <span *ngIf="fieldIsValid('categoryProduct')" class="input-group alert alert-danger mb-3">
The category must be required  </span>

  <button
    [disabled]="myFormProduct.invalid"
    type="submit"
    class="btn btn-primary float-end"
  >
    Save product
  </button>
</form>
