.img-list {
	max-width: 70px;
	cursor: pointer;
}

.img-list-responsive{
    max-width: 20vw;
    cursor: pointer;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	border-color: #fff;
	background-color: #ffca2c;
	cursor: pointer;
}

.page-link {
	background-color: #fff;
	color: #212529;
	border-color: #fff;
	cursor: pointer;
}

.backAndNext {
	background-color: #ffca2c;
	border-color: #fff;
	color: #fff;
}
.backAndNext:hover {
	background-color: #ffc008;
	border-color: #fff;
	color: #fff;
}
