<button
	class="mb-4"
	pButton
	label="New Product"
	(click)="selectProduct(true)"
	data-bs-target="#modalProduct"
	data-bs-toggle="modal"
></button>


<div class="table-responsive">    
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">img</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listProducts; let index = index">
                <th scope="row">{{index+1}}</th>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price| currency : '$' : 'symbol' : '1.0-0'}}</td>
                <td>{{product.stock}}</td>
                <td><img width="100vw" [src]="product.img" [alt]="product.name"></td>
                <td> 
                    <button class="btn btn-primary mx-md-1 mb-2 mb-sm-2 mx-sm-2"
                    data-bs-target="#modalDetailProduct"
                    data-bs-toggle="modal"
                    (click)="selectProduct(false,product)">
                        Detail
                    </button> 
                    <button 
                        class="btn btn-warning mx-md-1 mb-2 mb-sm-2 mx-sm-2"
                        data-bs-target="#modalProduct"
	                    data-bs-toggle="modal"
                        (click)="selectProduct(false,product)">
                        Edit
                    </button> 
                    <button class="btn btn-danger mx-md-1 mb-2 mb-sm-2 mx-sm-2" 	
                        data-bs-target="#modalDeleteProduct"
                        data-bs-toggle="modal"
                        (click)="selectProduct(false,product)">
                        Delete
                    </button> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-product-features
	[isNewProduct]="isNewProduct"
	[productInput]="productSelected"
	(productNew)="addToTheList($event)"
>
</app-product-features>


<app-modal-delete-product
[productRemoved]=false
[productSelected]="productSelected!"
(productDelete)="deleteTheList($event)">
</app-modal-delete-product>

<app-product-detail
[productSelected]="productSelected!"
></app-product-detail>