<div class="row justify-content-md-start d-xxl-none mb-3 mb-sm-1 mb-md-0">                
    <div class="col-auto col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <img src="assets/img/home.png" alt="" class="img-fluid" draggable="false" (click)="redirect('store/home')">
    </div>
</div> 
<div class="row justify-content-md-end d-xxl-none mb-3 mb-sm-1 mb-md-0">                
    <div class="col-auto col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <img src="assets/img/products.png" alt="" class="img-fluid" draggable="false" (click)="redirect('store/products')">
    </div> 
    <div class="col-xxl-3"></div>
</div>
<div class="row justify-content-md-start d-xxl-none mb-3 mb-sm-1 mb-md-0">                
    <div class="col-auto col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <img src="assets/img/sales.png" alt="" class="img-fluid" draggable="false" (click)="redirect('store/sales')">
    </div> 
</div> 

<div class="row justify-xxl-center d-none d-sm-none d-md-none d-lg-none d-xl-none d-xxl-inline mb-3">    
    <div class="col-xl-8 ms-5">
        <div id="carouselExampleControls" class="carousel slide ms-5" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/home.png" class="d-block w-100 img-fluid" alt="...">
            </div>
              <div class="carousel-item">
                <img src="assets/img/products.png" class="d-block w-100" alt="...">
            </div>
              <div class="carousel-item">
                <img src="assets/img/sales.png" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

</div> 
