<div class="card-body">
	<p class="card-text">
		<strong>Product: </strong>{{ nameProduct | titlecase }} |
		<small class="text-muted">{{ categoryProduct }}</small> <br />
		<strong>Description: </strong> {{ descriptionProduct | titlecase }}
		<br />
		<strong>Price: </strong>
		{{ priceProduct | currency: 'USD':'symbol':'1.0-0' }} <br />
		<strong>Stock: </strong> {{ stockProduct }} U
	</p>
	<div class="card-text">
		<img [src]="imgProduct" [alt]="nameProduct" class="img-fluid" />
	</div>

	<button
		
		type="button"
		class="btn btn-danger float-end mt-5"
		label="Close"
		data-bs-dismiss="modal"
	>
    <i class="pi me-2 pi-times"></i>

    Close
</button>
</div>
