

<form action="">
    <div class="mb-3">
            <h1 class="mb-4">Register</h1>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label"
            >Email</label
        >
        <div class="col-sm-10">
            <input
                type="text"
                class="form-control"
                id="staticEmail"
                placeholder="email@example.com"
            />
        </div>
    </div>
    <div class="mb-3 row">
        <label
            for="inputPassword"
            class="col-sm-2 col-form-label"
            >Password</label
        >
        <div class="col-sm-10">
            <input
                type="password"
                class="form-control"
                id="inputPassword"
                placeholder="Password"
            />
        </div>
    </div>
    <div class="mb-3 row">
        <label
            for="inputPassword"
            class="col-sm-2 col-form-label"
            >Repeat password</label
        >
        <div class="col-sm-10">
            <input
                type="password"
                class="form-control"
                id="inputPassword"
                placeholder="Repeat password"
            />
        </div>
    </div>
    <div class="mb-3 row">
        <small class="text-muted">You have an account? <a class="link-warning mx-2" routerLink="/access/login">Login</a></small>
    </div>
    <div class="mb-3 row mt-4">
        <label
            for="inputPassword"
            class="col-sm-2 col-form-label"
        ></label>
        <div class="col-sm-10">
            <div class="d-grid gap-2">
                <button
                    type="password"
                    class="btn btn-warning btn-lg mx-sm-2"
                    id="inputPassword"
                >
                    Login
                </button>
            </div>
        </div>
    </div>
</form>
