

<p-card header="Dashboard" subheader="Statistics of your updated store" styleClass="p-card-shadow text-lg-start text-sm-center" class="">
	<div class="row justify-content-center">

		<!-- * Statistics General -->
		<div class="col-12">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 text-center mt-3 mt-md-0 mb-sm-2 mb-lg-2">
					<!-- * Sales number -->
					<div class="bg-container p-2 rounded">
						<h2 class="mt-2">
							<i
								class="pi pi-arrow-down ms-2 text-dark p-1 pe-2"
								style="font-size: 1.5rem;"
							></i>
							<strong>{{ countSales }} Sales</strong>
						</h2>
						<h6 class="mb-3">Goal of 1000 sales per month</h6>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 text-center mt-3 mt-md-0 mb-sm-2 mb-lg-2">
					<!-- * Money on sales -->
					<div class="bg-container p-2 rounded">
						<h2 class="mt-2">
							<i
								class="pi pi-briefcase ms-2 text-dark p-1 pe-2"
								style="font-size: 1.5rem;"
							></i>
							<strong>{{
								total | currency: '$':'symbol':'1.0-0'
							}} </strong>
						</h2>
						<h6 class="mb-3">Income from sales in the month</h6>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 text-center mt-3 mt-md-0 mb-sm-2 mb-lg-2 ">
					<!-- * Free -->
					<div class="bg-container p-2 rounded">
						<h2 class="mt-2">
							<i
								class="pi pi-arrow-down ms-2 text-dark p-1 pe-2"
								style="font-size: 1.5rem;"
							></i>
							<strong>{{countSalesOnDay}}</strong>
						</h2>
						<h6 class="mb-3">Sales on the day</h6>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 text-center mt-3 mt-md-0 mb-sm-2 mb-lg-2 ">
					<!-- * Free -->
					<div class="bg-container p-2 rounded">
						<h2 class="mt-2">
							<i
								class="pi pi-arrow-down ms-2 text-dark p-1 pe-2"
								style="font-size: 1.5rem;"
							></i>
							<strong>{{
								totalOnDay | currency: '$':'symbol':'1.0-0'
							}} </strong>
						</h2>
						<h6 class="mb-3">Income on the day</h6>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-10 col-md-11 col-lg-11 col-xl-6 col-xxl-6 d-none d-md-block mb-md-4 mt-md-3">
			<p-chart
				type="doughnut"
				[data]="dataProductUnderStock"
				[options]="optionsUnderStock"
			></p-chart>
		</div>

		<div class="col-sm-10 col-md-11 col-lg-11 col-xl-6 col-xxl-6 align-middle  d-none d-md-block mb-md-4 mt-md-3">
			<p-chart
				type="bar"
				[data]="dataSales"
				[options]="optionsSales"
			></p-chart>
		</div>
	</div>
</p-card>
