
.btn-theme1{
    background-color: #1A3154;
    color: #fff;
}
.btn-theme2{
    background-color: #35858B;
    color: #fff;
}
.btn-theme3{
    background-color: #2E0B71;
    color: #fff;
}
.btn-theme4{
    background-color: #FFC721;
    color: #fff;
}