<p-card header="Settings" subheader="Modify your preferences, these will be saved" styleClass="p-card-shadow text-lg-start text-sm-center mb-4">
 </p-card>

<div class="row">
  
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h4>Change theme</h4>
          <p class="text-secondary mb-3">the theme of the application, this is maintained after closing session></p>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" (click)="selectTheme('darkBlue')  " class="btn btn-theme1 mx-1 mb-2 mb-md-0">Blue</button>
            <button type="button" (click)="selectTheme('darkCian')  " class="btn btn-theme2 mx-1 mb-2 mb-md-0">Cian</button>
                    </div>
          <div class="btn-group " role="group" aria-label="Basic mixed styles example">
            <button type="button" (click)="selectTheme('darkPurple')" class="btn btn-theme3 mx-1 mb-2 mb-md-0">Purple</button>
            <button type="button" (click)="selectTheme('darkNight') " class="btn btn-theme4 mx-1 mb-2 mb-md-0">Night</button>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>